body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000814;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative;
    width: 800px;
    height: 600px;
    background: linear-gradient(to bottom, #001d3d, #003566);
    border: 3px solid #fff;
    overflow: hidden;
}

#ui {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}

.stat-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #ffc300;
}

#menu, #game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 20px;
    z-index: 100;
    width: 350px;
}

.difficulty-buttons button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.difficulty-buttons button:hover { transform: scale(1.05); }

/* Zorluk Renkleri */
button:nth-child(1) { background: #2ecc71; } /* Kolay */
button:nth-child(2) { background: #3498db; } /* Normal */
button:nth-child(3) { background: #e67e22; } /* Zor */
.btn-imp { background: #c0392b !important; color: white; font-weight: bold; }

#basket {
    position: absolute;
    bottom: 20px;
    font-size: 60px;
    transform: translateX(-50%);
}

.falling-item {
    position: absolute;
    font-size: 35px;
}

.controls-info {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}